<%- include("header") -%>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>

  </div>

  <div class="box">
    <% for(var i = 0 ; i<itemAdded.length ; i++){  %>
      <div class="item">
        <input type="checkbox">
        <p><%= itemAdded[i] %></p>
      </div>
    <% } %>
    <div class="item">
      <form class="" action="/" method="post">
        <input type="text" name="itemadded" placeholder="New item">
        <button type="submit" name="list" value= <%=listTitle %> >+</button>
      </form>
    </div>

  </div>
<p class="ppp">copyright @aj25</p>



  <%- include("footer") -%>
